<%-include("../partials/header")%>
<div class="container">
<header class="jumbotron" >
<div class ="container">
<h1>Welcome to Animega</h1>
<p>View Top anime</p>
<p>
<a class = "btn btn-primary btn-large" href="/animes/new">Add New Anime</a>
</p>
</div>
</header>

<div class="row text-center">
	<div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
             <p>
            	<form action="/animes" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Anime search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
            </p>
             <% } %>
         </div>
	<% animes.forEach(function(animes){ %>
	<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <div class="card">
  <img src="<%= animes.image %>" class="card-img-top" alt="<%= animes.name %>">
  <div class="card-body">
  <h5 class="card-title"><%= animes.name %></h5>
  <% if (animes.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (animes.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
  <a href="/animes/<%=animes._id%>" class="btn btn-primary">More Info</a>
  </div>
  </div>
	</div>
	<% }); %>
</div>
</div>



<%-include("../partials/footer")%>