<%-include("../partials/header")%>

<header class="jumbotron text-light rounded-0 d-none d-md-block">
    <div class="container ">
      <div class="jumbotron-text mt-5 text-center">
         <% if(noMatch !== null) { %>
         <h2 class="jumbotronText">No results for <span class="font-italic"><%= noMatch %></span>, try again. </h2>
        <% } else { %>
          <h1 class="display-3 jumbotronText">Welcome to Animega!</h1>
          <p class="lead jumbotronText">View Top animes from the community</p>
        <% } %>
      </div>

<span class="text-center">   
<p>
<a class = "btn btn-primary btn-large" href="/animes/new">Add New Anime</a>
</p>
</span>
</div>
</header>

<div class="row text-center">
	<div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
             <p>
            	<form action="/animes" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Anime search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
            </p>
             <% } %>
         </div>
	<% animes.forEach(function(animes){ %>
	<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <div class="card indexCards shadow border-0 mt-4">
  <img src="<%= animes.image %>" class="card-img-top" alt="<%= animes.name %>">
  <div class="card-body">
  <h5 class="card-title text-capitalize"><%= animes.name %></h5>
  <% if (animes.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (animes.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (animes.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
  <a href="/animes/<%=animes._id%>" class="btn btn-primary">More Info</a>
  </div>
  </div>
	</div>
	<% }); %>
</div>
</div>



<%-include("../partials/footer")%>