<%-include("../partials/header")%>

<div class="row justify-content-center">
	<div class="col-md-9">
		<div class="card mb-3">
			<img src="<%= animes.image %>" class="card-img-top" alt="<%= animes.name %>">

			<div class="card-body">
				<p class="float-right">
					$<%= animes.cost %>/night
				</p>
				<h5 class="card-title"><%= animes.name %></h5>
				
				<p>
					<em>Submitted by: <a href="/users/<%=animes.author.id%>"> <%= animes.author.username %></a> <%= moment(animes.createdAt).fromNow() %></em>
				</p>
				<hr>

				<p class="card-text"><%= animes.description%></p>

				<% if(currentUser && animes.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){%>	
				<a class="btn btn-xs btn-warning" href="/animes/<%=animes._id%>/edit">Edit</a>
				<form class ="delete-form" action="/animes/<%= animes._id%>?_method=DELETE" method="POST">
					<button class="btn btn-xs btn-danger">Delete</button>	
				</form>
				<%}%>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="text-right">
					<a class="btn btn-success" href="/animes/<%= animes._id %>/comments/new">Add New Comment</a>	
				</div>
				<hr>
				<div class="row">
					<% animes.comments.forEach(function(comment){ %>

					<div class="col-md-12 mb-2">
						<div class="card">
							<div class="card-body">
								<div class="float-left">
									<p class="card-title">
										<%= comment.author.username %>
									</p>
									<p class="card-text"><%= comment.text%></p>
								</div>
								<div class="float-right">
									<p><%= moment(comment.createdAt).fromNow() %></p>	
									<% if(currentUser && comment.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){%>
									<div class="float-right">
										<a class="btn btn-sm btn-warning" href="/animes/<%=animes._id%>/comments/<%=comment._id%>/edit">EDIT</a>
										<form class="delete-form" action="/animes/<%=animes._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
											<button class="btn btn-sm btn-danger">Delete</button>	
										</form>
									</div>
									<%}%>

								</div>
							</div>
						</div>
					</div>

					<%}) %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<%-include("../partials/footer")%>