<%-include("../partials/header")%>

<div class="row justify-content-center">
	<div class="col-md-9">
		<div class="card mb-3">
			<img src="<%= animes.image %>" class="card-img-top" alt="<%= animes.name %>">

			<div class="card-body">
				
				<h5 class="card-title"><%= animes.name %></h5>
				
				<p>
					<em>Submitted by: <a href="/users/<%=animes.author.id%>"> <%= animes.author.username %></a> <%= moment(animes.createdAt).fromNow() %></em>
				</p>
				<hr>

				<p class="card-text"><%= animes.description%></p>

				<% if(currentUser && animes.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){%>	
				<a class="btn btn-xs btn-warning" href="/animes/<%=animes._id%>/edit">Edit</a>
				<form class ="delete-form" action="/animes/<%= animes._id%>?_method=DELETE" method="POST">
					<button class="btn btn-xs btn-danger">Delete</button>	
				</form>
				<%}%>
				 <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/animes"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
			</div>
		</div>

        <!--Review section-->
            <div class="card">
                <div class="card-body">
                    <% if (animes.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (animes.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (animes.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (animes.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (animes.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= animes.reviews.length %>)</em>
                    </p>
                    <p>
                        Current anime rating: <strong><%= animes.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this anime:</h4></p>
                    <hr style="margin-top: 0;">
                    <% animes.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/animes/<%=animes._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/animes/<%=animes._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/animes/<%= animes._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && animes.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/animes/<%= animes._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

            <!--Comment section-->
        
		<div class="card">
			<div class="card-body">
				<div class="text-right">
					<a class="btn btn-success" href="/animes/<%= animes._id %>/comments/new">Add New Comment</a>	
				</div>
				<hr>
				<div class="row">
					<% animes.comments.forEach(function(comment){ %>

					<div class="col-md-12 mb-2">
						<div class="card">
							<div class="card-body">
								<div class="float-left">
									<p class="card-title">
										<%= comment.author.username %>
									</p>
									<p class="card-text"><%= comment.text%></p>
								</div>
								<div class="float-right">
									<p><%= moment(comment.createdAt).fromNow() %></p>	
									<% if(currentUser && comment.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){%>
									<div class="float-right">
										<a class="btn btn-sm btn-warning" href="/animes/<%=animes._id%>/comments/<%=comment._id%>/edit">EDIT</a>
										<form class="delete-form" action="/animes/<%=animes._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
											<button class="btn btn-sm btn-danger">Delete</button>	
										</form>
									</div>
									<%}%>

								</div>
							</div>
						</div>
					</div>

					<%}) %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<%-include("../partials/footer")%>